@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
/* line 6, ../sass/style.scss */
body {
  background-color: #e9f0f4;
  font-family: "Lato";
  margin-top: 50px;
  border: 1px solid #dbdbdb;
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* line 17, ../sass/style.scss */
section {
  background-color: white;
  font-size: 10px;
}
/* line 20, ../sass/style.scss */
section #todo-list {
  font-size: 12px;
  text-decoration: none;
  color: #2e3641;
}
/* line 24, ../sass/style.scss */
section #todo-list .todo-bin {
  opacity: 1;
}
/* line 27, ../sass/style.scss */
section #todo-list .done {
  color: #9eb2c0;
  text-decoration: line-through;
}
/* line 30, ../sass/style.scss */
section #todo-list .done .todo-bin {
  opacity: 0.4;
}

/* line 37, ../sass/style.scss */
.todo-single-row {
  display: flex;
  border-bottom: 1px solid #f2e3df;
  height: 30px;
}
/* line 44, ../sass/style.scss */
.todo-single-row .first-column {
  width: 31px;
  height: 30px;
  border-right: 1px solid #f2e3df;
  margin-right: 3px;
  display: inline-block;
  float: left;
}
/* line 51, ../sass/style.scss */
.todo-single-row .first-column input {
  margin: 9px;
}
/* line 56, ../sass/style.scss */
.todo-single-row .todo-content {
  width: 258px;
  display: inline-block;
  border-left: 1px solid #f2e3df;
  padding-left: 3px;
  line-height: 30px;
}
/* line 62, ../sass/style.scss */
.todo-single-row .todo-content input {
  width: 251px;
  border: none;
  font-size: 10px;
}
/* line 68, ../sass/style.scss */
.todo-single-row .todo-bin {
  width: 30px;
  line-height: 30px;
}
/* line 71, ../sass/style.scss */
.todo-single-row .todo-bin img {
  padding: 10px 10px 5px 8px;
}
/* line 73, ../sass/style.scss */
.todo-single-row .todo-bin img:hover {
  cursor: pointer;
}

/* line 79, ../sass/style.scss */
header.todo-single-row {
  height: 39px;
  width: 322px;
  background-color: #2e3641;
}
/* line 83, ../sass/style.scss */
header.todo-single-row .first-column {
  height: 39px;
  border-right: 1px solid #454f5c;
}
/* line 87, ../sass/style.scss */
header.todo-single-row .todo-content {
  width: 288px;
  line-height: 39px;
  border-left: 1px solid #454f5c;
  padding-left: 10px;
  color: #dae4eb;
}

/* line 95, ../sass/style.scss */
#add-todo {
  text-decoration: none;
}
/* line 97, ../sass/style.scss */
#add-todo::before {
  content: "+";
  width: 31px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #dae4eb;
}
