@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
$finished-task-color: #9eb2c0;
$todo-task-color: #2e3641;
$border-color: #f2e3df;

body {
  background-color: #e9f0f4;
  font-family: "Lato";
  margin-top: 50px;
  border: 1px solid rgb(219, 219, 219);
  width: 322px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

section {
  background-color: rgb(255, 255, 255);
  font-size:10px;
  #todo-list {
    font-size:12px;
    text-decoration: none;
    color: $todo-task-color;
    .todo-bin {
      opacity:1;
    }
    .done {
      color: $finished-task-color;
      text-decoration: line-through;
      .todo-bin {
        opacity:0.4;
      }
    }
  }
}

.todo-single-row {

  display: flex;
  border-bottom: 1px solid $border-color;
  height:30px;


  .first-column {
    width: 31px;
    height:30px;
    border-right:1px solid $border-color;
    margin-right:3px;
    display: inline-block;
    float:left;
    input {
      margin: 9px;
    }
  }

  .todo-content {
    width: 258px;
    display: inline-block;
    border-left:1px solid $border-color;
    padding-left: 3px;
    line-height:30px;
    input {
			width:251px;
			border: none;
			font-size:10px;
		}
  }
  .todo-bin {
    width: 30px;
    line-height:30px;
    img {
      padding: 10px 10px 5px 8px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
header.todo-single-row  {
  height:39px;
  width: 322px;
  background-color: $todo-task-color;
  .first-column {
    height:39px;
    border-right:1px solid #454f5c;
  }
  .todo-content {
    width: 288px;
    line-height:39px;
    border-left:1px solid #454f5c;
    padding-left:10px;
    color:#dae4eb;
  }
}
#add-todo {
  text-decoration: none;
  &::before {
    content: "+";
    width: 31px;
    font-size: 22px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    color: rgb(218, 228, 235);
  }
}
